@media (max-width: 768px) {
    .todo-list {
        grid-template-columns: 1fr;
    }

    .screen {
        grid-template-columns: 1fr;
        overflow-y: scroll;
        padding: 50px 0;
    }

    .left {
        display: none;
    }

    .right .logo {
        display: flex;
        margin-bottom: 10px;
    }

    .right .hero-eyebrow {
        display: inline;
        margin-bottom: 20px;
    }

    .toolbar {
        flex-direction: column;
        gap: 20px;
    }

    .toolbar * {
        width: 100%;
    }

    .todo-counter {
        flex-direction: column;
    }

    .user-pill {
        padding: 6.5px;
    }

    .user-name {
        display: none;
    }

    .form-login {
        width: 350px;
    }

    .modal {
        width: 100%;
        min-height: 100dvh;
        border-radius: 0;
        overflow-y: scroll;
    }

    .btn-up:hover,
    .new-todo:hover,
    .switch-theme-btn:hover {
        border-color: var(--border);
    }
}